@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap);





body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #fafafa !important;
}
.bg-info {
  background-color: #bbbbbb !important;
}
.bg-warning {
  background-color: #353535 !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info,
.btn-info:active {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
}
.btn-success,
.btn-success:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #353535 !important;
  border-color: #353535 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #bbbbbb;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #909090 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #353535;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #0a0a0a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #353535 !important;
  border-color: #353535 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #fafafa !important;
}
.text-info {
  color: #bbbbbb !important;
}
.text-warning {
  color: #353535 !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cccccc !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #c7c7c7 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #888888 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #020202 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #bbbbbb;
}
.alert-warning {
  background-color: #353535;
}
.alert-danger {
  background-color: #232323;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fbfbfb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #a8a8a8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sopYAD6mv7 {
  background-color: #ffffff;
}
.cid-sopYAD6mv7 .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-sopYAD6mv7 .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sopYAD6mv7 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sopYAD6mv7 .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sopYAD6mv7 .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sopYAD6mv7 .mbr-text,
.cid-sopYAD6mv7 .mbr-section-btn {
  text-align: center;
}
.cid-snmRkdG4tD {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-snmRkdG4tD img,
.cid-snmRkdG4tD .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-snmRkdG4tD .item:focus,
.cid-snmRkdG4tD span:focus {
  outline: none;
}
.cid-snmRkdG4tD .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-snmRkdG4tD .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-snmRkdG4tD .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-snmRkdG4tD .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-snmRkdG4tD .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-snmRkdG4tD .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-snmRkdG4tD .mbr-section-btn {
  margin-top: auto !important;
}
.cid-snmRkdG4tD .mbr-section-title {
  color: #353535;
}
.cid-snmRkdG4tD .mbr-text,
.cid-snmRkdG4tD .mbr-section-btn {
  text-align: left;
}
.cid-snmRkdG4tD .item-title {
  text-align: left;
}
.cid-snmRkdG4tD .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-soq5lmk58u {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #000000;
}
@media (min-width: 1500px) {
  .cid-soq5lmk58u .container {
    max-width: 1400px;
  }
}
.cid-soq5lmk58u .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-soq5lmk58u .card-wrapper {
  margin-top: 3rem;
}
.cid-soq5lmk58u .row {
  justify-content: center;
}
.cid-soq5lmk58u .card-title,
.cid-soq5lmk58u .iconfont-wrapper {
  color: #ffffff;
}
.cid-soq5lmk58u .card-text {
  color: #ffffff;
}
.cid-soq5lmk58u .mbr-section-title {
  color: #ffffff;
}
.cid-spOIWAPjAx {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-spOIWAPjAx .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-spOIWAPjAx .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-spOIWAPjAx .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-spOIWAPjAx .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-spOIWAPjAx .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-spOIWAPjAx .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-spOIWAPjAx .carousel-control,
.cid-spOIWAPjAx .close {
  background: #1b1b1b;
}
.cid-spOIWAPjAx .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-spOIWAPjAx .carousel-control-prev span {
  margin-right: 5px;
}
.cid-spOIWAPjAx .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-spOIWAPjAx .carousel-control-next span {
  margin-left: 5px;
}
.cid-spOIWAPjAx .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-spOIWAPjAx .close::before {
  content: '\e91a';
}
.cid-spOIWAPjAx .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-spOIWAPjAx .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-spOIWAPjAx .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-spOIWAPjAx .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-spOIWAPjAx .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-spOIWAPjAx .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-spOIWAPjAx .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-spOIWAPjAx .carousel-indicators li.active,
.cid-spOIWAPjAx .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-spOIWAPjAx .carousel-indicators li::after,
.cid-spOIWAPjAx .carousel-indicators li::before {
  content: none;
}
.cid-spOIWAPjAx .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-spOIWAPjAx .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-spOIWAPjAx .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-spOIWAPjAx .carousel-indicators {
    display: none;
  }
}
.cid-spOIWAPjAx .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-spOIWAPjAx .carousel-inner > .active {
  display: block;
}
.cid-spOIWAPjAx .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-spOIWAPjAx .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-spOIWAPjAx .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-spOIWAPjAx .carousel-control,
  .cid-spOIWAPjAx .carousel-indicators,
  .cid-spOIWAPjAx .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-spOIWAPjAx .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-spOIWAPjAx .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-spOIWAPjAx .carousel-indicators .active,
.cid-spOIWAPjAx .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-spOIWAPjAx .carousel-indicators .active {
  background: #fff;
}
.cid-spOIWAPjAx .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-spOIWAPjAx .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-spOIWAPjAx .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-spOIWAPjAx .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-spOIWAPjAx .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-spOIWAPjAx .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-spOIWAPjAx .carousel {
  width: 100%;
}
.cid-spOIWAPjAx .modal-backdrop.in {
  opacity: 0.8;
}
.cid-spOIWAPjAx .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-spOIWAPjAx .modal.fade .modal-dialog,
.cid-spOIWAPjAx .modal.in .modal-dialog {
  transform: none;
}
.cid-spOIWAPjAx .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-spOIWAPjAx H6 {
  text-align: center;
}
.cid-souk9176cS {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-souk9176cS img {
  width: 120px;
  margin: auto;
}
.cid-souk9176cS .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-souk9176cS .card {
    max-width: 12.5%;
  }
}
.cid-s48OLK6784 .navbar-dropdown {
  position: relative !important;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #ffffff !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-soqfXbiabz {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-soqfXbiabz .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-soqfXbiabz .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-soqfXbiabz .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-soqfXbiabz .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-soqfXbiabz .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #000000;
}
.cid-sopPfAVlmJ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-sopPfAVlmJ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sopPfAVlmJ .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sopPfAVlmJ .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sopPfAVlmJ .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sopPfAVlmJ .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sopPfAVlmJ .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sopPfAVlmJ .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sopPfAVlmJ .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sopPfAVlmJ .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sopPfAVlmJ .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sopPfAVlmJ .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sopPfAVlmJ .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sopPfAVlmJ .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sopPfAVlmJ .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-snndEhGrDz .navbar-dropdown {
  position: relative !important;
}
.cid-snndEhGrDz .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .dropdown-menu {
  padding: 0;
}
.cid-snndEhGrDz .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snndEhGrDz .dropdown-item:hover,
.cid-snndEhGrDz .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-snndEhGrDz .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-snndEhGrDz .nav-link {
  position: relative;
}
.cid-snndEhGrDz .container {
  display: flex;
  margin: auto;
}
.cid-snndEhGrDz .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-snndEhGrDz .navbar-caption {
  padding-right: 4rem;
}
.cid-snndEhGrDz .dropdown-menu,
.cid-snndEhGrDz .navbar.opened {
  background: #ffffff !important;
}
.cid-snndEhGrDz .nav-item:focus,
.cid-snndEhGrDz .nav-link:focus {
  outline: none;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-snndEhGrDz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-snndEhGrDz .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-snndEhGrDz .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snndEhGrDz .navbar.opened {
  transition: all .3s;
}
.cid-snndEhGrDz .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-snndEhGrDz .navbar .navbar-logo img {
  width: auto;
}
.cid-snndEhGrDz .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-snndEhGrDz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-snndEhGrDz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-snndEhGrDz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-snndEhGrDz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-snndEhGrDz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-snndEhGrDz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-snndEhGrDz .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-snndEhGrDz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-snndEhGrDz .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-snndEhGrDz .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-snndEhGrDz .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-snndEhGrDz .navbar.navbar-short {
  min-height: 60px;
}
.cid-snndEhGrDz .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-snndEhGrDz .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-snndEhGrDz .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-snndEhGrDz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-snndEhGrDz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-snndEhGrDz .dropdown-item.active,
.cid-snndEhGrDz .dropdown-item:active {
  background-color: transparent;
}
.cid-snndEhGrDz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-snndEhGrDz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-snndEhGrDz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-snndEhGrDz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-snndEhGrDz ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-snndEhGrDz .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-snndEhGrDz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-snndEhGrDz .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-snndEhGrDz a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-snndEhGrDz .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-snndEhGrDz .navbar {
    height: 77px;
  }
  .cid-snndEhGrDz .navbar.opened {
    height: auto;
  }
  .cid-snndEhGrDz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-snnf2t8nXG {
  background-image: url("../../../assets/images/flip2-1478x1108.jpg");
}
.cid-snns2xugy3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-snns2xugy3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-snns2xugy3 .row {
  flex-direction: row-reverse;
}
.cid-snns2xugy3 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-snns2xugy3 .text-wrapper {
    padding: 2rem;
  }
}
.cid-snns2xugy3 .mbr-text {
  text-align: left;
}
.cid-snniAuYSu6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-snniAuYSu6 .mbr-text {
  color: #767676;
}
.cid-snniAuYSu6 .mbr-section-subtitle {
  color: #767676;
}
.cid-snniAuYSu6 .title .num {
  width: 100%;
  display: block;
  font-size: 4rem;
}
.cid-snniAuYSu6 .title .card-title {
  z-index: 1;
}
.cid-snniAuYSu6 .num {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-snniAuYSu6 * {
    text-align: center !important;
  }
  .cid-snniAuYSu6 .content-column {
    margin-bottom: 2rem;
  }
}
.cid-snniAuYSu6 .mbr-section-title,
.cid-snniAuYSu6 .card-box {
  color: #ffffff;
}
.cid-snniAuYSu6 .card-text {
  color: #bbbbbb;
}
.cid-snnoa5MmTd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-snnoa5MmTd img,
.cid-snnoa5MmTd .item-img {
  width: 100%;
}
.cid-snnoa5MmTd .item:focus,
.cid-snnoa5MmTd span:focus {
  outline: none;
}
.cid-snnoa5MmTd .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-snnoa5MmTd .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-snnoa5MmTd .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-snnoa5MmTd .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-snnoa5MmTd .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-snnoa5MmTd .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-snnoa5MmTd .mbr-section-btn {
  margin-top: auto !important;
}
.cid-snnoa5MmTd .mbr-section-title {
  color: #232323;
}
.cid-snnoa5MmTd .mbr-text,
.cid-snnoa5MmTd .mbr-section-btn {
  text-align: left;
}
.cid-snnoa5MmTd .item-title {
  text-align: left;
}
.cid-snnoa5MmTd .item-subtitle {
  text-align: left;
}
.cid-snnriJQfLs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-snnriJQfLs .mbr-text {
  color: #c1c1c1;
}
.cid-soqgeYx9hm {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-soqgeYx9hm .row-links {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .social-row {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-soqgeYx9hm .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-soqgeYx9hm .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-soqgeYx9hm .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-soqgeYx9hm .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-soqgeYx9hm .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-soqgeYx9hm .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-soqgeYx9hm .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-soqgeYx9hm .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-soqgeYx9hm .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-snndEhGrDz .navbar-dropdown {
  position: relative !important;
}
.cid-snndEhGrDz .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .dropdown-menu {
  padding: 0;
}
.cid-snndEhGrDz .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snndEhGrDz .dropdown-item:hover,
.cid-snndEhGrDz .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-snndEhGrDz .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-snndEhGrDz .nav-link {
  position: relative;
}
.cid-snndEhGrDz .container {
  display: flex;
  margin: auto;
}
.cid-snndEhGrDz .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-snndEhGrDz .navbar-caption {
  padding-right: 4rem;
}
.cid-snndEhGrDz .dropdown-menu,
.cid-snndEhGrDz .navbar.opened {
  background: #ffffff !important;
}
.cid-snndEhGrDz .nav-item:focus,
.cid-snndEhGrDz .nav-link:focus {
  outline: none;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-snndEhGrDz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-snndEhGrDz .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-snndEhGrDz .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snndEhGrDz .navbar.opened {
  transition: all .3s;
}
.cid-snndEhGrDz .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-snndEhGrDz .navbar .navbar-logo img {
  width: auto;
}
.cid-snndEhGrDz .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-snndEhGrDz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-snndEhGrDz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-snndEhGrDz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-snndEhGrDz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-snndEhGrDz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-snndEhGrDz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-snndEhGrDz .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-snndEhGrDz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-snndEhGrDz .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-snndEhGrDz .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-snndEhGrDz .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-snndEhGrDz .navbar.navbar-short {
  min-height: 60px;
}
.cid-snndEhGrDz .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-snndEhGrDz .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-snndEhGrDz .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-snndEhGrDz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-snndEhGrDz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-snndEhGrDz .dropdown-item.active,
.cid-snndEhGrDz .dropdown-item:active {
  background-color: transparent;
}
.cid-snndEhGrDz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-snndEhGrDz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-snndEhGrDz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-snndEhGrDz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-snndEhGrDz ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-snndEhGrDz .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-snndEhGrDz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-snndEhGrDz .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-snndEhGrDz a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-snndEhGrDz .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-snndEhGrDz .navbar {
    height: 77px;
  }
  .cid-snndEhGrDz .navbar.opened {
    height: auto;
  }
  .cid-snndEhGrDz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-swHRmgUkpG {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-swHRmgUkpG .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-swHRmgUkpG .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-swHRmgUkpG .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-swHRmgUkpG .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-swHRmgUkpG .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-swHRmgUkpG .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-swHRmgUkpG .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-swHRmgUkpG .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sxcpziCLi3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sxcpziCLi3 .video-wrapper iframe {
  width: 100%;
}
.cid-sxcpziCLi3 .mbr-section-title,
.cid-sxcpziCLi3 .mbr-section-subtitle,
.cid-sxcpziCLi3 .mbr-text {
  text-align: center;
}
.cid-snxlydGq6b {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-snxlydGq6b img,
.cid-snxlydGq6b .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-snxlydGq6b .item:focus,
.cid-snxlydGq6b span:focus {
  outline: none;
}
.cid-snxlydGq6b .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-snxlydGq6b .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-snxlydGq6b .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-snxlydGq6b .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-snxlydGq6b .mbr-section-btn {
  margin-top: auto !important;
}
.cid-snxlydGq6b .mbr-section-title {
  color: #232323;
}
.cid-snxlydGq6b .mbr-text,
.cid-snxlydGq6b .mbr-section-btn {
  text-align: left;
}
.cid-snxlydGq6b .item-title {
  text-align: left;
  color: #353535;
}
.cid-snxlydGq6b .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-swI578bbZ3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-swI578bbZ3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-swI578bbZ3 .row {
  flex-direction: row-reverse;
}
.cid-swI578bbZ3 img {
  width: 100%;
}
.cid-snxyOnELoi {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background: #fafafa;
}
.cid-snxyOnELoi .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-snxyOnELoi .plan-body {
  padding-bottom: 2rem;
}
.cid-snxyOnELoi .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-snxyOnELoi .price {
  color: #000000;
}
.cid-snxyOnELoi .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-snxyOnELoi .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-snxyOnELoi .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-snxyOnELoi .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-snxyOnELoi .plan {
    margin-bottom: 2rem;
  }
}
.cid-swIgOhQteG {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-swIgOhQteG .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-swIgOhQteG .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-swIgOhQteG .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-swIgOhQteG .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-swIgOhQteG .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #000000;
}
.cid-soqgeYx9hm {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-soqgeYx9hm .row-links {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .social-row {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-soqgeYx9hm .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-soqgeYx9hm .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-soqgeYx9hm .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-soqgeYx9hm .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-soqgeYx9hm .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-soqgeYx9hm .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-soqgeYx9hm .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-soqgeYx9hm .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-soqgeYx9hm .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-s48OLK6784 .navbar-dropdown {
  position: relative !important;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #ffffff !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-snmYnU93CX {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-snmYnU93CX .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-snmYnU93CX .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-snmYnU93CX .mbr-section-title {
  color: #ffffff;
}
.cid-snmYnU93CX .mbr-text,
.cid-snmYnU93CX .mbr-section-btn {
  color: #ffffff;
}
.cid-snmWAQ0Y7X {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-snmWAQ0Y7X .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-snmWAQ0Y7X .row {
  flex-direction: row-reverse;
}
.cid-snmWAQ0Y7X img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-snmWAQ0Y7X .text-wrapper {
    padding: 2rem;
  }
}
.cid-souszT228E {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-souszT228E .mbr-text {
  color: #767676;
}
.cid-souszT228E .mbr-section-subtitle {
  color: #767676;
}
.cid-souszT228E .title .num {
  width: 100%;
  display: block;
  font-size: 4rem;
}
.cid-souszT228E .title .card-title {
  z-index: 1;
}
.cid-souszT228E .num {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-souszT228E * {
    text-align: center !important;
  }
  .cid-souszT228E .content-column {
    margin-bottom: 2rem;
  }
}
.cid-souszT228E .mbr-section-title,
.cid-souszT228E .card-box {
  color: #ffffff;
}
.cid-souszT228E .card-text {
  color: #bbbbbb;
}
.cid-snn5SnyunR {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .cid-snn5SnyunR .card-box {
    padding: 1rem;
  }
  .cid-snn5SnyunR .mbr-section-btn,
  .cid-snn5SnyunR .price {
    text-align: center;
  }
  .cid-snn5SnyunR .mbr-section-btn .btn {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cid-snn5SnyunR .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-snn5SnyunR .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-snn5SnyunR .card-wrapper {
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-snn5SnyunR .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-snn5SnyunR .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-snhFY81WM7 {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-snhFY81WM7 .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-snhFY81WM7 .item:last-child .icon-box:before {
  display: none;
}
.cid-snhFY81WM7 .item.last .icon-box:before {
  display: none;
}
.cid-snhFY81WM7 .icon-box {
  background: #000000;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-snhFY81WM7 .icon-box {
    margin-right: 1rem;
  }
}
.cid-snhFY81WM7 .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #000000;
  transform: translate(-50%, 0);
}
.cid-snhFY81WM7 span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-snhFY81WM7 .card {
    margin-bottom: 2rem;
  }
  .cid-snhFY81WM7 .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-snhFY81WM7 .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-snhFY81WM7 .icon-box::before {
    top: 114%;
  }
}
.cid-soumyFV9PI {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-soumyFV9PI .item {
  padding-bottom: 2rem;
}
.cid-soumyFV9PI .item-wrapper {
  position: relative;
}
.cid-soumyFV9PI .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-soumyFV9PI .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-soumyFV9PI .carousel-control,
.cid-soumyFV9PI .close {
  background: #1b1b1b;
}
.cid-soumyFV9PI .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-soumyFV9PI .carousel-control-prev span {
  margin-right: 5px;
}
.cid-soumyFV9PI .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-soumyFV9PI .carousel-control-next span {
  margin-left: 5px;
}
.cid-soumyFV9PI .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-soumyFV9PI .close::before {
  content: '\e91a';
}
.cid-soumyFV9PI .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-soumyFV9PI .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-soumyFV9PI .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-soumyFV9PI .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-soumyFV9PI .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-soumyFV9PI .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-soumyFV9PI .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-soumyFV9PI .carousel-indicators li.active,
.cid-soumyFV9PI .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-soumyFV9PI .carousel-indicators li::after,
.cid-soumyFV9PI .carousel-indicators li::before {
  content: none;
}
.cid-soumyFV9PI .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-soumyFV9PI .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-soumyFV9PI .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-soumyFV9PI .carousel-indicators {
    display: none;
  }
}
.cid-soumyFV9PI .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-soumyFV9PI .carousel-inner > .active {
  display: block;
}
.cid-soumyFV9PI .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-soumyFV9PI .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-soumyFV9PI .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-soumyFV9PI .carousel-control,
  .cid-soumyFV9PI .carousel-indicators,
  .cid-soumyFV9PI .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-soumyFV9PI .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-soumyFV9PI .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-soumyFV9PI .carousel-indicators .active,
.cid-soumyFV9PI .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-soumyFV9PI .carousel-indicators .active {
  background: #fff;
}
.cid-soumyFV9PI .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-soumyFV9PI .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-soumyFV9PI .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-soumyFV9PI .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-soumyFV9PI .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-soumyFV9PI .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-soumyFV9PI .carousel {
  width: 100%;
}
.cid-soumyFV9PI .modal-backdrop.in {
  opacity: 0.8;
}
.cid-soumyFV9PI .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-soumyFV9PI .modal.fade .modal-dialog,
.cid-soumyFV9PI .modal.in .modal-dialog {
  transform: none;
}
.cid-soumyFV9PI .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-soumyFV9PI H6 {
  text-align: center;
}
.cid-soqgeYx9hm {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-soqgeYx9hm .row-links {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .social-row {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-soqgeYx9hm .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-soqgeYx9hm .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-soqgeYx9hm .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-soqgeYx9hm .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-soqgeYx9hm .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-soqgeYx9hm .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-soqgeYx9hm .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-soqgeYx9hm .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-soqgeYx9hm .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-spIQ9v59Qb {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-spIQ9v59Qb .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-spIQ9v59Qb .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-spIQ9v59Qb .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-spIQ9v59Qb .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-spIQ9v59Qb .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #000000;
}
.cid-sopQFzwr37 {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sopQFzwr37 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sopQFzwr37 form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sopQFzwr37 form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-sopQFzwr37 form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-snndEhGrDz .navbar-dropdown {
  position: relative !important;
}
.cid-snndEhGrDz .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .dropdown-menu {
  padding: 0;
}
.cid-snndEhGrDz .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snndEhGrDz .dropdown-item:hover,
.cid-snndEhGrDz .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-snndEhGrDz .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-snndEhGrDz .nav-link {
  position: relative;
}
.cid-snndEhGrDz .container {
  display: flex;
  margin: auto;
}
.cid-snndEhGrDz .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-snndEhGrDz .navbar-caption {
  padding-right: 4rem;
}
.cid-snndEhGrDz .dropdown-menu,
.cid-snndEhGrDz .navbar.opened {
  background: #ffffff !important;
}
.cid-snndEhGrDz .nav-item:focus,
.cid-snndEhGrDz .nav-link:focus {
  outline: none;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-snndEhGrDz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snndEhGrDz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-snndEhGrDz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-snndEhGrDz .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-snndEhGrDz .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snndEhGrDz .navbar.opened {
  transition: all .3s;
}
.cid-snndEhGrDz .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-snndEhGrDz .navbar .navbar-logo img {
  width: auto;
}
.cid-snndEhGrDz .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-snndEhGrDz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-snndEhGrDz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-snndEhGrDz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-snndEhGrDz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-snndEhGrDz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-snndEhGrDz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-snndEhGrDz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-snndEhGrDz .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-snndEhGrDz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-snndEhGrDz .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-snndEhGrDz .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-snndEhGrDz .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-snndEhGrDz .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-snndEhGrDz .navbar.navbar-short {
  min-height: 60px;
}
.cid-snndEhGrDz .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-snndEhGrDz .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-snndEhGrDz .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-snndEhGrDz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-snndEhGrDz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-snndEhGrDz .dropdown-item.active,
.cid-snndEhGrDz .dropdown-item:active {
  background-color: transparent;
}
.cid-snndEhGrDz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-snndEhGrDz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-snndEhGrDz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-snndEhGrDz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-snndEhGrDz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-snndEhGrDz ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-snndEhGrDz .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-snndEhGrDz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-snndEhGrDz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-snndEhGrDz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-snndEhGrDz .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-snndEhGrDz a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-snndEhGrDz .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-snndEhGrDz .navbar {
    height: 77px;
  }
  .cid-snndEhGrDz .navbar.opened {
    height: auto;
  }
  .cid-snndEhGrDz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-soqgeYx9hm {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-soqgeYx9hm .row-links {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .social-row {
  width: 100%;
  justify-content: center;
}
.cid-soqgeYx9hm .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-soqgeYx9hm .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-soqgeYx9hm .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-soqgeYx9hm .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-soqgeYx9hm .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-soqgeYx9hm .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-soqgeYx9hm .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-soqgeYx9hm .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-soqgeYx9hm .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-soqgeYx9hm .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-soqgeYx9hm .media-container-row .row-copirayt p {
  width: 100%;
}
